* {
  box-sizing: border-box;
  -mox-box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 100px;  
  margin: 20px 0;
  color: #505050;
}

body {
  font-family: helvetica, arial, sans-serif;
}


section {
  height: 100%;
  min-height: 250px;
}

.bodysec {
  min-height: 700px;
}
 
#homesec {
  background:
 url(http://farm8.staticflickr.com/7129/6962272018_69a32924f9_h.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 80px;
}
 
#nav_wrap {
  background: white;
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
  opacity: .9;
  box-shadow: 0px 1px 4px #343434;
}

nav { 
  font-family: 'Monda';
  width: 100%;
  margin: 0 auto;
  transition: .5s;
}

.nav_animate {
  width: 70%;
  transition: .5s;