@charset "utf-8";
/* CSS Document */

#fundo_paginas{	background:#FFF;}

#geral_paginas { 
	width:800px;
	margin:0 auto;	
	padding-bottom:10px;
	padding-top:10px;
	border:0px solid #F93;
}

#conteudo {	
color:#FFF;
background:#333;

float:left;
padding-right:10px;
padding-left:10px;
padding-top:10px;
padding-bottom:10px;
overflow:auto;
}




}
